/* Changer le logo */
#header .logo {
    background: url("/static/images/logo_snapflow.png") no-repeat left center;
    background-size: contain;
    color: transparent;
    text-indent: -9999px;
    height: 60px;
}

/* Changer la couleur de fond de l'en-tête */
#header {
    background-color: #cbdbeb;
}

/* Personnaliser les titres */
#content h1 {
    color: #1abc9c;
}
