button.logout-btn {
    background: none;
    border: none;
    padding: 0;
    color: #333;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 14px;
}

button.logout-btn:hover {
    background-color: #417690;
    color: #fff;
    border-radius: 8px;
}



