{% extends "admin/base_site.html" %}
{% load static %}
{% load tz %} {# utile si tu veux gérer le fuseau horaire, optionnel ici #}

{% block title %}Snapflow Software Monitoring{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'images/snapflow_B.png' %}" alt="Snapflow Logo"
         style="height:40px; vertical-align: middle; margin-right: 10px;">
    <span class="header_logo_name"><b>Software Monitoring</b></span>
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block sidebar %}
  {{ block.super }}
{% endblock %}


{#Footer personnalisé avec année dynamique #}
{% block footer %}
  {{ block.super }}
  <div style="text-align: center; padding: 1rem; font-size: 0.85rem; color: #666;">
    Powered by <strong><a href="https://www.medianet.tn/fr/" target="_blank" rel="noopener noreferrer">MEDIANET</a></strong> &copy; {% now "Y" %}
  </div>
{% endblock %}
